# Puerto en el que correrá el servidor Backend
PORT=3001

# Contraseña de Administrador (Obligatoria para seguridad)
# Si no la configuras, el valor por defecto será 'admin123'
ADMIN_PASSWORD=admin123

# API Key de Football-Data.org (Opcional, para sincronizar partidos en tiempo real de forma gratuita)
# Obtén una gratis en: https://www.football-data.org/client/register
FOOTBALL_API_KEY=tu_api_key_aqui
